.topInfoBar{
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.budgetAllocation, .RemainingBudget, .budgetSpent, .currencySelect{
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}

.budgetAllocation{
  background-color: #E3E4E6;
}

.RemainingBudget{
  background-color: #D2E8DE;
}

.budgetSpent{
  background-color: #D0E3FF;
}

.currencySelect{
  background-color: #95E49A;
}