.topInfoBar {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.container table {
  width: 100% !important;
}

.container table th h2 {
  font-weight: bold !important;
}

.container table tr h2{
  text-align: center;
}


.container th, .container td {
  width: 20%;
}

.container table td{
  text-align: center;
}

h2 {
  font-weight: 400;
}

.budgetAllocation,
.RemainingBudget,
.budgetSpent,
.currencySelect {
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}

.budgetAllocation {
  background-color: #E3E4E6;
}

.RemainingBudget {
  background-color: #D2E8DE;
}

.budgetSpent {
  background-color: #D0E3FF;
}

.currencySelect {
  background-color: #95E49A;
}

.selectOption {
  width: 150px;
  display: flex;
  margin-right: 200px;
}

.selectOption h2 {
  margin: 0px;
  background-color: #E3E4E6;
  padding: 10px;
  border-radius: 5px;
}

.selectOption select {
  font-size: 20px;
  border: 1px solid black;
  width: 100px;
}